# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables file
.env

# Ignore OS junk files
.DS_Store
Thumbs.db

# Ignore VS Code settings
.vscode/

# Ignore virtual environment
venv/
